<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/TreeMenu.css') }}" /></head>
<body>
    <p><strong>{{ message }}</strong></p>
    <p>File Tree for {{ name + " (" + mac + " " + ip + ")" }}:</p>
    <p>{{ directory['NAME'] }}</p>

    <ul id="treemenu1" class="treeview">
        {% for item in directory['FILES'] %}
        <li>
            {% if item['type'] == "folder" %}

            {% else %}

            {% endif %}
        </li>
        {%- endfor %}
    </ul>

</body>
</html>