<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/MyStyle.css') }}">
    <title>Network Manager</title>
	    <meta http-equiv="refresh" content="60" >
</head>

<body>
<p>Computers:</p>
<table cellspacing='0' cellpadding='0'> <!-- cellspacing='0' is important, must stay -->
    <tr><th>NUMBER</th><th>IP</th><th>MAC</th><th>Status</th><th>Operations</th></tr><!-- Table Header -->
    {% for row in computers %}
    <form method="post" action="{{ url_for('show_main_form') }}">
        <tr class='even'>
            <td>{{ row['INDEX'] }}</td>
            <td><input class="IpText" type="text" value="{{ row['IP'] }}"  name="Ip" readonly />  </td>
            <td><input class="MacText" type="text" value="{{ row['MAC'] }}" name="Mac" readonly />  </td>
            <td><input class="StatusText" type="text" value="{{ row['STATUS'] }}" name="Status" readonly />  </td>
            {% if row['STATUS'] == 'offline' %}
            <td> <input id="ButtonWOL" type="submit" value="WakeOnLAN" name="Action" />
                {% else %}
            <td><input id="ButtonShutDown" type="submit" value="Shutdown" name="Action" />
            {% endif %}
            {% if row['CONNECTED'] == 'True'%}
            <input id="Information" type="submit" value="More" name="Action">
            {% endif %}
        </td>
        </tr>
    </form>
    {% endfor %}
</table>
</body>
</html>
