<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/MyStyle.css') }}">
    <title>Network Manager</title>
</head>

<body>
<form method="get" action="{{ url_for('view_computer', mac=mac, ip=ip, name=name) }}"><input id="ButtonBack" type="submit" value="Back"/></form>
<p>Processes for {{ name }}({{ mac }} - {{ip}}):</p>
<p>{{ message }}</p>
<table cellspacing='0' cellpadding='0'> <!-- cellspacing='0' is important, must stay -->
    <tr><th>Process Name</th><th>PID</th><th>Parent ID</th><th>Operations</th></tr><!-- Table Header -->
    {% for process in process_list %}
    <form method="post" action="{{ url_for('show_processes', mac=mac, ip=ip, name=name) }}">
        <tr class='even'>
            <td><input class="ProcessText" type="text" value="{{ process['NAME'] }}"  name="name" readonly /></td>
            <td><input class="StatusText" type="text" value="{{ process['PID'] }}" name="pid" readonly /></td>
            <td><input class="StatusText" type="text" value="{{ process['PARENT_ID'] }}" name="parent_id" readonly /></td>
            <td><input id="ButtonTerminate" type="submit" value="Terminate" name="Action" />
        </td>
        </tr>
    </form>
    {% endfor %}
</table>
</body>
</html>
