table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th {
    height: 40px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 2px solid black; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    width: 200px;
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

.IpText{
    background: #333;
    color: #ccc;
    width: 100px;
	height: 20px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}
.IpText:hover {
    color: #fff;
}
.MacText{
    background: #333;
    color: #ccc;
    width: 110px;
	height: 20px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}
.MacText:hover {
    color: #fff;
}

.StatusText{
    background: #333;
    color: #ccc;
    width: 50px;
	height: 20px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}
.StatusText:hover {
    color: #fff;
}

DIV.table
{
  display: table;
}

FORM.tr, DIV.tr
{
  display: table-row;
}
SPAN.td
{
  display: table-cell;
}

#InputText {
    background: #333;
    color: #ccc;
    width: 200px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}

#InputText:hover {
    width: 270px;
}  

.ProcessText{
    background: #333;
    color: #ccc;
    width: 110px;
	height: 20px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}
.ProcessText:hover {
    width: 250px;
}

.TimeText{
    background: #333;
    color: #ccc;
    width: 20px;
	height: 20px;
    padding: 5px 10px 5px 15px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}
.TimeText:hover {
    color: #fff;
}
